<div class="form_box">
  <h3>Create New Bible book</h3>
  <form enctype="multipart/form-data">
    <p>Name: {{input type="text" value=name}}</p>
    <p>Body: {{input type="text" value=body}}</p>
  </form>
</div>

<div class="view_bar">
  <div class="vew_bar_right">
    <button {{action 'save'}} class='btn'>Create</button>
    <button {{action cancel}} class='btn'>Cancel</button>
  </div>
</div>
{{partial "biblebooks/show"}}
